@import url('https://fonts.googleapis.com/css?family=Heebo:900');

iframe {
  width : 320px;
  height : 180px;

  max-width : 95%;
}

.img_preview {
  cursor : pointer;
}

.img_preview img {
  width : 320px;

  max-width : 95%;
  border-radius : 3px;
}

.youtube {
  cursor : pointer;
}

.youtube img {
  width : 320px;
  height : 180px;

  max-width : 95%;
  border-radius : 3px;
}

#share ul{
  height:auto;
}
#share li{
  font-size:14px;
  float:left;
  text-align:center;
  width:84px;
  margin-right:1%;
  margin-bottom:8px;
  border-radius:3px;
  list-style:none;
}
#share li.share-twitter{
  background:#55acee;
  box-shadow:0 2px #2795e9;
}
#share li.share-twitter:hover{
  background:#83c3f3;
}
#share li.share-facebook{
  background:#3b5998;
  box-shadow:0 2px #2d4373;
}
#share li.share-facebook:hover{
  background:#4c70ba;
}
#share li.share-line{
  background:#00C300;
  box-shadow:0 2px #009d00;
}
#share li.share-line:hover{
  background:#2bd92b;
}
#share a{
  display:block;
  height:27px;
  padding-top:6px;
  color:#ffffff;
  text-decoration:none;
}
#share a:hover{
  text-decoration:none;
  color:#ffffff;
}