@import url('https://fonts.googleapis.com/css?family=Heebo:900');

iframe {
  width : 320px;
  height : 180px;

  max-width : 95%;
}

.youtube {
  cursor : pointer;
}

.youtube img {
  width : 320px;
  height : 180px;

  max-width : 95%;
  border-radius : 3px;
}